@charset "utf-8";

/* 
    Paleta de Cores
    verde: #49a09d
    lilás: #5f2c82
*/

:root{
    --corVerde: #49a09d;
    --corVerdeAgua: #1b6d51;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html{
    width: 100vw;
    height: 100vh;
    background-color:var(--corVerde) ;
    overflow-x: hidden;
}

main{
    width: 100%;
    height: 100%;
    position: relative;
}

/* Página de Login */

.login{
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    display: block;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.543);
    transition: 0.6s;
    transition-timing-function: ease;
}

.imagem{
    background: var(--corVerde) url(../imagens/themePhoto.jpg) no-repeat center center;
    background-size: cover;
    height: 200px;
    border-radius: 20px 20px 0 0;
    display: block;
}

.form{
    padding: 10px;
    display: block;
}

/* Input Divs */




